
.navBar {
    position: relative;
    order: 1;
    width: 40%;
float: right;

}
  
  .navBar button {
    position: fixed;
    z-index: 10;
    right: 21%;
    cursor: pointer;
  }
  
  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background:#C21D22;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
  }
  
 .navBar .hamburger-react{
    margin-top: 10%;
  }

  .menuNav.showMenu {
    width: 400px;
  }
  
  @media (max-width:425px) {
    .menuNav {
      overflow-y: scroll;
      list-style: none;
      position: fixed;
      top: 0;
      background:#C21D22;
      height: 100vh;
      width: 0;
      overflow: hidden;
      max-width: 400px;
      z-index: 9;
    }

    .menuNav .showMenu {
      width: 300px;
    }
  }

 .navBar a {
    display: block;
    padding: 10px 11px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 500;
  }
  
 

  @media only screen and (min-width:650px) {
    .navBar {
display: none;
    }
}

@media (max-width:320px) {
  .navBar {
    position: relative;
    order: 1;
    width: 45%;
float: right;

}
.navBar button {
  position: fixed;
  z-index: 10;
  right: 21%;
  cursor: pointer;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background:#C21D22;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.navBar .hamburger-react{
  margin-top: 10%;
}

.menuNav.showMenu {
  width: 400px;
}
}