.msg-r{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 30px;
gap: 50px;
}

.tejal{
width: 30%;

}

.msg{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 20px;
width: 600px;
}

.msg-h{
font-family: 'Futura';
font-style: normal;
font-weight: 500;
font-size: 47px;
line-height: 62px;
text-align: center;
color: #C21D22;
}

.msg-fu{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.15px;
    color: #000000;
}

.msg-fu-s{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.15px;
    color: #000000;
    text-align: center;
}

@media (max-width:1024px) {
    .tejal{
        width: 90%;
        
        }
}

@media (max-width:768px) {
    .msg-r{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 50px;
        }

        .msg{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 20px;
            width: 90%;
            }
}

